/* ===================== */
/* === COLOR VARIABLES === */
/* ===================== */
:root {
  /* Catppuccin Mocha color palette */
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;

  /* Text colors */
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;

  /* Overlay colors */
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;

  /* Surface colors */
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #282936;

  /* Base colors */
  --base: #1e1e2e;
  --mantle: rgba(24, 24, 37, 1); /* was 0.5 before */
  --crust: rgba(17, 17, 27, 1); /* was 0.75 before */
}

/* ================= */
/* === BASE STYLES === */
/* ================= */
* {
  font-size: 12px;
  color: var(--subtext0);
  font-weight: 700;
  font-family: "JetBrainsMono NFP";
  margin: 0;
  padding: 0;
}

/* ================= */
/* === BAR LAYOUT === */
/* ================= */
.yasb-bar {
  padding: 0;
  margin: 0;
  /* background-color: var(--crust); */
  border-radius: 12px;
}

/* Common widget styles */
.widget {
  padding: 0 8px;
  margin: 3px 2px;
  background-color: var(--crust);
  border-radius: 12px;
}

.widget .label {
  padding: 0px 2px;
}

.widget .label.alt {
  padding: 0px 2px;
}

.icon {
  font-size: 16px;
  margin: 0 4px 0 0;
}

/* ==================== */
/* === POWER MENU === */
/* ==================== */
.power-menu-widget .label {
  color: var(--red);
  font-size: 13px;
}

.power-menu-popup {
  background-color: transparent;
}

.power-menu-popup .button {
  padding: 0;
  width: 180px;
  height: 230px;
  border-radius: 8px;
  background-color: var(--base);
  border: 8px solid rgba(58, 59, 83, 0);
  margin: 0px;
}

.power-menu-popup .button.hover {
  background-color: var(--surface0);
  border: 8px solid var(--surface0);
}

.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--lavender);
}

.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 32px;
  color: var(--lavender);
}

/* Cancel button specific styles */
.power-menu-popup .button.cancel {
  height: 32px;
  border-radius: 4px;
}

.power-menu-popup .button.cancel .icon {
  padding: 0;
  margin: 0;
}

.power-menu-popup .button.cancel .label {
  color: var(--red);
  margin: 0;
}

/* ==================== */
/* === VOLUME WIDGET === */
/* ==================== */
.volume-widget .icon {
  color: var(--blue);
  margin: 1px 2px 0 0;
}
.volume-widget .label {
  color: var(--blue);
}

/* Audio dropdown menu */
.audio-menu {
  background-color: var(--mantle);
}

.audio-container .device {
  font-size: 20px;
  background-color: transparent;
  border: none;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 4px;
}

.audio-container .device.selected {
  background-color: var(--surface0);
}

.audio-container .device:hover {
  background-color: var(--surface0);
}

.audio-menu .toggle-apps {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  min-height: 24px;
  min-width: 24px;
  border-radius: 4px;
}
.audio-menu .toggle-apps.expanded {
  background-color: rgba(255, 255, 255, 0.1);
}
.audio-menu .toggle-apps:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
/* Container for application volumes (if is enabled) */
.audio-menu .apps-container {
  padding: 8px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: var(--surface0);
}
.audio-menu .apps-container .app-volume .app-icon-container {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 6px;
  margin-right: 8px;
}
.audio-menu .apps-container .app-volume .app-slider {
  min-height: 40px;
  max-height: 40px;
}
.audio-menu .apps-container .app-volume .app-icon-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ================= */
/* === DISK WIDGET === */
/* ================= */
.disk-widget .icon {
  color: var(--teal);
}

/* ================= */
/* === CLOCK WIDGET === */
/* ================= */

.clock-widget .icon {
  font-size: 14px;
  color: var(--sapphire);
}

.clock-widget .label {
  font-size: 14px;
  font-weight: 700;
  color: var(--sapphire);
}

/* Calendar dropdown */
.calendar {
  background-color: var(--mantle);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: transparent;
  color: rgba(162, 177, 196, 0.85);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.calendar .calendar-table::item:selected {
  color: var(--crust);
  background-color: var(--lavender);
  border-radius: 5px;
}

.calendar .day-label {
  margin-top: 20px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
  font-size: 16px;
  color: var(--lavender);
  font-weight: 700;
  min-width: 180px;
  max-width: 180px;
}

.calendar .month-label {
  font-weight: normal;
}

.calendar .date-label {
  font-size: 88px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin-top: -20px;
}

/* ==================== */
/* === WEATHER WIDGET === */
/* ==================== */
.weather-widget .icon {
  font-size: 20px;
  margin: 0 2px 1px 0;
  color: var(--maroon);
}

.weather-card {
  background-color: var(--mantle);
}

/* ====================== */
/* === WORKSPACE WIDGET === */
/* ====================== */
.glazewm-workspaces {
  /* background-color: var(--crust); */
  /* margin: 4px 0; */
  border-radius: 12px;
  /* border: 0; */
}

.glazewm-workspaces .ws-btn {
  font-size: 14px;
  border: none;
  color: var(--overlay0);
  padding: 0 6px;
  cursor: pointer;
}

.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_empty {
  color: var(--red);
  font-weight: 900;
}

/* ====================== */
/* === KOMOREBI WORKSPACE WIDGET === */
/* ====================== */

.komorebi-workspaces {
  background-color: var(--crust);
  margin: 4px 0;
  border-radius: 12px;
  border: 0;
}

.komorebi-workspaces .ws-btn {
  font-size: 14px;
  border: none;
  color: var(--overlay0);
  padding: 0 6px;
  cursor: pointer;
}

.komorebi-workspaces .ws-btn.active {
  color: var(--red);
  font-weight: 900;
}
.komorebi-workspaces .ws-btn.ws-btn.active_empty {
  color: var(--blue);
  font-weight: 900;
}

/* ================= */
/* === WIFI WIDGET === */
/* ================= */
.wifi-widget .icon,
.wifi-widget .label {
  color: var(--yellow);
}

/* ===================== */
/* === BATTERY WIDGET === */
/* ===================== */
.battery-widget .icon {
  font-size: 18px;
  color: var(--teal);
}
.battery-widget .label {
  color: var(--teal);
}

/* ==================== */
/* === MEMORY WIDGET === */
/* ==================== */
.memory-widget .icon,
.memory-widget .label {
  color: var(--mauve);
}

/* ==================== */
/* === CPU WIDGET === */
/* ==================== */
.cpu-widget .icon,
.cpu-widget .label {
  color: var(--blue);
}

/* ==================== */
/* === GPU WIDGET === */
/* ==================== */
.gpu-widget .icon,
.gpu-widget .label {
  color: var(--green);
}

/* ================= */
/* === HOME WIDGET === */
/* ================= */
.home-widget {
  padding: 0 4px 0 12px;
}

.home-widget .icon {
  font-size: 18px;
  color: var(--subtext1);
}

.home-menu {
  background-color: var(--mantle);
  padding: 0;
  margin-left: 2px;
}

.home-menu .menu-item {
  padding: 8px 48px 8px 12px;
  font-weight: 600;
  color: var(--text);
}

.home-menu .menu-item:hover {
  background-color: var(--lavender);
  color: var(--surface0);
  margin: 4px 6px;
  border-radius: 4px;
}

.home-menu .separator {
  max-height: 1px;
  background-color: var(--overlay0);
  margin: 0 8px;
}

/* ================= */
/* === SYSTRAY WIDGET === */
/* ================= */

.systray .unpinned-container {
  border-radius: 8px;
}

.systray .pinned-container {
  background: transparent;
}

.systray .button {
  border-radius: 4px;
  padding: 2px 2px;
}

.systray .unpinned-visibility-btn {
  border-radius: 4px;
  font-size: 24px;
}

.systray .unpinned-visibility-btn:hover {
  border-radius: 4px;
  border-color: #aaaaaa;
}

/* ================= */
/* === MEDIA WIDGET === */
/* ================= */
.media-widget .label {
  color: var(--mauve);
}

.taskbar-preview {
  border: 1px solid var(--surface2);
  background-color: var(--base);
  border-radius: 12px;
}

/* === REMOVE BAR SHADOW ===
.yasb-bar,
.yasb,
.bar,
.bar-container {
  box-shadow: none !important;
  filter: none !important;
  backdrop-filter: none !important;
} */
