/* ===================== */
/* === COLOR VARIABLES === */
/* ===================== */
:root {
  /* Catppuccin Mocha color palette */
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;

  /* Text colors */
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;

  /* Overlay colors */
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;

  /* Surface colors */
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #282936;

  /* Base colors */
  --base: #1e1e2e;
  --mantle: rgba(24, 24, 37, 1);
  /* was 0.5 before */
  --crust: rgba(17, 17, 27, 1);
  /* was 0.75 before */
}

/* ================= */
/* === BASE STYLES === */
/* ================= */
* {
  font-size: 12px;
  color: var(--subtext0);
  font-weight: 700;
  font-family: "JetBrainsMono NFP";
  margin: 0;
  padding: 0;
}

/* ================= */
/* === BAR LAYOUT === */
/* ================= */
.yasb-bar {
  padding: 0;
  margin: 0;
  /* background-color: var(--crust); */
  /* border-radius: 12px; */
}

/* Common widget styles */
.widget {
  padding: 0 8px;
  margin: 3px 2px;
  background-color: var(--crust);
  border-radius: 15px !important;
}

.widget .label {
  padding: 0px 2px;
}

.widget .label.alt {
  padding: 0px 2px;
}

.icon {
  font-size: 16px;
  margin: 0 4px 0 0;
}



.tooltip {
    background-color: var(--base);
    border-radius: 12px;
    color: var(--text);
    padding: 5px 10px;
}

/* ==================== */
/* === POWER MENU === */
/* ==================== */
.power-menu-widget .label {
  color: var(--red);
  font-size: 13px;
}

.power-menu-popup {
  background-color: transparent;
}

.power-menu-popup .button {
  padding: 0;
  width: 180px;
  height: 230px;
  border-radius: 8px;
  background-color: var(--base);
  border: 8px solid rgba(58, 59, 83, 0);
  margin: 0px;
}

.power-menu-popup .button.hover {
  background-color: var(--surface0);
  border: 8px solid var(--surface0);
}

.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--lavender);
}

.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 32px;
  color: var(--lavender);
}

/* Cancel button specific styles */
.power-menu-popup .button.cancel {
  height: 32px;
  border-radius: 4px;
}

.power-menu-popup .button.cancel .icon {
  padding: 0;
  margin: 0;
}

.power-menu-popup .button.cancel .label {
  color: var(--red);
  margin: 0;
}

/* ==================== */
/* === VOLUME WIDGET === */
/* ==================== */
.volume-widget .icon {
  color: var(--blue);
  margin: 1px 2px 0 0;
}

.volume-widget .label {
  color: var(--blue);
}

/* Audio dropdown menu */
.audio-menu {
  background-color: var(--mantle);
}

.audio-container .device {
  font-size: 20px;
  background-color: transparent;
  border: none;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 4px;
}

.audio-container .device.selected {
  background-color: var(--surface0);
}

.audio-container .device:hover {
  background-color: var(--surface0);
}

.audio-menu .toggle-apps {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  min-height: 24px;
  min-width: 24px;
  border-radius: 4px;
}

.audio-menu .toggle-apps.expanded {
  background-color: rgba(255, 255, 255, 0.1);
}

.audio-menu .toggle-apps:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

/* Container for application volumes (if is enabled) */
.audio-menu .apps-container {
  padding: 8px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: var(--surface0);
}

.audio-menu .apps-container .app-volume .app-icon-container {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 6px;
  margin-right: 8px;
}

.audio-menu .apps-container .app-volume .app-slider {
  min-height: 40px;
  max-height: 40px;
}

.audio-menu .apps-container .app-volume .app-icon-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ================= */
/* === CLOCK WIDGET === */
/* ================= */

.clock-widget .icon {
  font-size: 14px;
  color: var(--sapphire);
}

.clock-widget .label {
  font-size: 14px;
  font-weight: 700;
  color: var(--sapphire);
}

/* Calendar dropdown */
.calendar {
  background-color: var(--mantle);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: transparent;
  color: rgba(162, 177, 196, 0.85);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.calendar .calendar-table::item:selected {
  color: var(--crust);
  background-color: var(--lavender);
  border-radius: 5px;
}

.calendar .day-label {
  margin-top: 20px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
  font-size: 16px;
  color: var(--lavender);
  font-weight: 700;
  min-width: 180px;
  max-width: 180px;
}

.calendar .month-label {
  font-weight: normal;
}

.calendar .date-label {
  font-size: 88px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin-top: -20px;
}

/* ====================== */
/* === WORKSPACE WIDGET === */
/* ====================== */
.glazewm-workspaces {
  /* background-color: var(--crust); */
  /* margin: 4px 0; */
  border-radius: 12px;
  /* border: 0; */
}

.glazewm-workspaces .ws-btn {
  font-size: 14px;
  border: none;
  color: var(--overlay0);
  padding: 0 6px;
  cursor: pointer;
}

.glazewm-workspaces .ws-btn.focused_populated,
.glazewm-workspaces .ws-btn.focused_empty {
  color: var(--red);
  font-weight: 900;
}

/* ====================== */
/* === KOMOREBI WORKSPACE WIDGET === */
/* ====================== */

.komorebi-workspaces {
  background-color: var(--crust);
  margin: 4px 0;
  border-radius: 12px;
  border: 0;
}

.komorebi-workspaces .ws-btn {
  font-size: 14px;
  border: none;
  color: var(--overlay0);
  padding: 0 6px;
  cursor: pointer;
}

.komorebi-workspaces .ws-btn.active {
  color: var(--red);
  font-weight: 900;
}

.komorebi-workspaces .ws-btn.ws-btn.active_empty {
  color: var(--blue);
  font-weight: 900;
}

/* ================= */
/* === WIFI WIDGET === */
/* ================= */
.wifi-widget .icon,
.wifi-widget .label {
  color: var(--yellow);
}
.wifi-menu {
  font-family: "JetBrainsMono NFP";
  background-color: var(--base);
  max-height: 350px;
  min-height: 375px;
  min-width: 375px;
}

.wifi-menu .progress-bar {
  max-height: 2px;
  color: var(--flamingo);
}

.wifi-menu .header {
  font-family: "JetBrainsMono NFP";
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
  padding: 12px;
  background-color: var(--base);
  color: white;
  border-bottom: 1px solid var(--surface0);
}

.wifi-menu .error-message {
  font-family: "JetBrainsMono NFP";
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
  padding: 12px;
  background-color: var(--red);
  color: white;
  border-bottom: 1px solid var(--surface0);
}

.wifi-menu .wifi-list {
  background-color: var(--crust);
  margin-right: 3px;
}

.wifi-menu .wifi-item {
  min-height: 35px;
  padding: 2px 12px;
  margin: 2px 4px;
}

.wifi-menu .wifi-item:hover {
  background-color: var(--surface0);
  border-radius: 6px;
}

.wifi-menu .wifi-item[active="true"] {
  background-color: var(--base);
  font-size: 14px;
  border-radius: 6px;
  min-height: 80px;
}

.wifi-menu .wifi-item .icon {
  font-family: "Segoe Fluent Icons";
  font-size: 26px;
  margin-right: 10px;
}

.wifi-menu .wifi-item .name {
  font-family: "JetBrainsMono NFP";
  font-size: 14px;
  margin-right: 10px;
}
.wifi-menu .wifi-item .password {
  color: var(--text);
  width: 200%;
}

.wifi-menu .wifi-item .connect {
  background-color: var(--yellow);
  color: var(--base);
  padding: 4px 30px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}

.wifi-menu .wifi-item .connect:hover {
  background-color: var(--surface1);
  color: var(--subtext1);
}

.wifi-menu .wifi-item .connect:pressed {
  background-color: rgba(255, 255, 255, 0.3);
}

.wifi-menu .footer {
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  margin-top: 2px;
  background-color: var(--base);
  border-top: 1px solid var(--surface0);
}

.wifi-menu .footer .settings-button {
  background-color: transparent;
  border: none;
}

.wifi-menu .footer .refresh-icon {
  font-family: "Segoe Fluent Icons";
  background-color: transparent;
  border: none;
  min-width: 26px;
  min-height: 26px;
}

.wifi-menu .footer .refresh-icon:hover {
  background-color: var(--surface0);
  border-radius: 4px;
}
/* ===================== */
/* === BATTERY WIDGET === */
/* ===================== */
.battery-widget .icon {
  font-size: 18px;
  color: var(--teal);
}

.battery-widget .label {
  color: var(--teal);
}

/* ==================== */
/* === MEMORY WIDGET === */
/* ==================== */
.memory-widget .icon,
.memory-widget .label {
  color: var(--mauve);
}

/* ==================== */
/* === CPU WIDGET === */
/* ==================== */
.cpu-widget .icon,
.cpu-widget .progress-circle,
.cpu-widget .label {
  color: var(--blue);
}

.cpu-popup {
  background-color: var(--crust);
  min-width: 400px;
  font-family: "JetbrainsMono NFP";
}

.cpu-popup .header {
  padding: 12px 16px;
}

.cpu-popup .header .text {
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.cpu-popup .header .pin-btn {
  font-size: 14px;
  font-family: "Segoe Fluent Icons";
  border: none;
  padding: 6px;
}

.cpu-popup .header .pin-btn.pinned {
  color: #ffffff;
}

/* Graph area */
.cpu-popup .graph-container {
  background: transparent;
  min-height: 64px;
}

.cpu-popup .cpu-graph {
  color: var(--blue);
}
.cpu-popup .cpu-graph-grid {
  color: var(--surface0);
}
.cpu-popup .graph-title {
  font-size: 12px;
  padding: 0px 0px 4px 14px;
}
/* Stats grid */
.cpu-popup .stats {
  padding: 16px;
}
.cpu-popup .stats .stat-item {
  background-color: var(--base);
  border-radius: 8px;
  padding: 8px 12px;
  margin: 8px;
}
.cpu-popup .stats .stat-label {
  font-size: 13px;
  color: var(--subtext0);
  font-weight: 400;
  padding: 6px 4px 2px 4px;
}
.cpu-popup .stats .stat-value {
  font-size: 20px;
  font-weight: 700;
  color: var(--text);
  padding: 0 4px 12px 4px;
}

/* ==================== */
/* === GPU WIDGET === */
/* ==================== */
.gpu-widget {
  border-radius: 15px !important;
}
.gpu-widget .icon,
.gpu-widget .label {
  color: var(--green);
}
.gpu-popup {
  font-family: "JetbrainsMono NFP";
  background-color: var(--crust);
  min-width: 400px;
}

.gpu-popup .header {
  background: transparent;
  padding: 12px 16px;
}
.gpu-popup .header .text {
  font-size: 16px;
  color: var(--text);
}
.gpu-popup .header .pin-btn {
  font-size: 14px;
  font-family: "Segoe Fluent Icons";
  border: none;
  padding: 6px;
  color: var(--text);
}

/* Graph area */
.gpu-popup .graph-container {
  min-height: 64px;
}
.gpu-popup .gpu-graph {
  color: var(--green);
}
.gpu-popup .gpu-graph-grid,
.gpu-popup .gpu-temp-graph-grid {
  color: var(--surface0);
}
.gpu-popup .gpu-temp-graph {
  color: var(--peach);
}

.gpu-popup .graph-title {
  font-size: 12px;
  color: var(--subtext0);
  padding: 0px 0px 4px 14px;
  margin-top: 12px; /* Add top margin to separate from 2nd graph */
}
.gpu-popup .graph-title.first {
  margin-top: 0px; /* Remove top margin for the first graph title */
}
/* Stats grid */
.gpu-popup .stats {
  padding: 16px;
}
.gpu-popup .stats .stat-item {
  background-color: var(--base);
  border-radius: 8px;
  padding: 8px 12px;
  margin: 8px;
}

.gpu-popup .stats .stat-label {
  font-size: 13px;
  color: var(--subtext0);
  font-weight: 400;
  padding: 6px 4px 2px 4px;
}
.gpu-popup .stats .stat-value {
  font-size: 15px;
  font-weight: 700;
  color: var(--text);
  padding: 0 4px 12px 4px;
}

/* ================= */
/* === HOME WIDGET === */
/* ================= */
.home-widget {
  padding: 0 4px 0 8px;
}

.home-widget .icon {
  font-size: 18px;
  color: var(--subtext1);
}

.home-menu {
  background-color: var(--mantle);
  padding: 0;
  margin-left: 2px;
}

.home-menu .menu-item {
  padding: 8px 48px 8px 12px;
  font-weight: 600;
  color: var(--text);
}

.home-menu .menu-item:hover {
  background-color: var(--lavender);
  color: var(--surface0);
  margin: 4px 6px;
  border-radius: 4px;
}

.home-menu .separator {
  max-height: 1px;
  background-color: var(--overlay0);
  margin: 0 8px;
}

/* ================= */
/* === SYSTRAY WIDGET === */
/* ================= */

.systray .unpinned-container {
  border-radius: 8px;
}

.systray .pinned-container {
  background: transparent;
}

.systray .button {
  border-radius: 4px;
  padding: 2px 2px;
}

.systray .unpinned-visibility-btn {
  border-radius: 4px;
  font-size: 24px;
}

.systray-popup .button.drag-over {
  background-color: var(--surface1);
}

.systray-popup {
  background-color: var(--crust);
  padding: 3px;
}
.systray-popup .button {
  padding: 10px;
  margin: 0;
  border: 0;
  border-radius: 6px;
}
.systray-popup .button:hover {
  background-color: var(--surface0);
}

/* ================= */
/* === TASKBAR WIDGET === */
/* ================= */
.taskbar-widget {
  border-radius: 12px;
}

.taskbar-preview {
  border: 1px solid var(--surface1);
  background-color: var(--base);
  border-radius: 12px;
}

/* ================= */
/* === NOTIFICATION WIDGET === */
/* ================= */

.notification-widget {
  border-radius: 12px;
}

/* === REMOVE BAR SHADOW === */
/* .yasb-bar,
.yasb,
.bar,
.bar-container {
  box-shadow: none !important;
  filter: none !important;
  backdrop-filter: none !important;
} */

.notes-menu {
  min-width: 300px;
  max-width: 300px;
  background-color: var(--base);
}

.notes-widget .label,
.notes-widget .icon {
  color: var(--teal);
}

.notes-menu .note-item {
  background-color: var(--base);
  border-top: 1px solid var(--overlay0);
}

.notes-menu .title {
  font-size: 12px;
  font-weight: 700;
}

.notes-menu .note-item .title {
  font-size: 13px;
  font-family: "Segoe UI";
}

.notes-menu .note-item .date {
  font-size: 12px;
  font-family: "Segoe UI";
  color: rgba(255, 255, 255, 0.4);
}

.notes-menu .empty-list {
  font-family: "Segoe UI";
  background-color: var(--base);
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0 20px 0;
}

.notes-menu .add-button,
.notes-menu .cancel-button {
  padding: 6px;
  background-color: var(--surface1);
  font-family: "Segoe UI";
}

.notes-menu .cancel-button {
  background-color: var(--surface0);
  color: var(--red);
}

.notes-menu .note-input {
  background-color: rgba(17, 17, 27, 0.2);
  border: 1px solid var(--teal);
  font-family: "Segoe UI";
  font-size: 14px;
  max-height: 30px;
  padding: 4px;
  border-radius: 6px;
}

.notes-menu .delete-button,
.notes-menu .copy-button {
  /* color: var(--surface0); */
  background-color: transparent;
  border: none;
  font-size: 13px;
  padding-right: 10px;
}

.notes-menu .delete-button {
  color: var(--red);
}

/* ==================== */
/* === WEATHER WIDGET === */
/* ==================== */
.weather-widget .icon,
.weather-widget .label {
  margin: 0 2px 1px 0;
  color: var(--text);
}

/* Individual weather icons */
.weather-widget .icon.sunnyDay {
  color: var(--yellow);
}
.weather-widget .icon.clearNight {
  color: var(--blue);
}
.weather-widget .icon.cloudyDay {
  color: var(--overlay2);
}
.weather-widget .icon.cloudyNight {
  color: var(--overlay2);
}
.weather-widget .icon.rainyDay {
  color: var(--blue);
}
.weather-widget .icon.rainyNight {
  color: var(--blue);
}
.weather-widget .icon.snowyDay {
  color: var(--subtext1);
}
.weather-widget .icon.snowyNight,
.weather-widget .icon.blizzardDay,
.weather-widget .icon.blizzardNight,
.weather-widget .icon.foggyDay,
.weather-widget .icon.foggyNight,
.weather-widget .icon.thunderstormDay,
.weather-widget .icon.thunderstormNight,
.weather-widget .icon.default {
  color: var(--text);
}

/* Weather card style */
.weather-card {
  background-color: var(--mantle);
}
.weather-card-today {
  /* border: 1px solid #282936; */
  border-radius: 8px;
  background-color: var(--mantle);
}
.weather-card-today .label {
  font-size: 12px;
}
.weather-card-today .label.location {
  font-size: 24px;
  font-weight: 700;
}
.weather-card-today .label.alert {
  font-size: 12px;
  font-weight: 700;
  background-color: rgba(247, 199, 42, 0.05);
  border: 1px solid rgba(247, 209, 42, 0.1);
  color: rgba(196, 181, 162, 0.85);
  border-radius: 6px;
  padding: 5px 0;
}
.weather-card-day {
  border: 1px solid var(--surface0);
  border-radius: 8px;
}

.weather-card-day.active {
  background-color: var(--surface0);
  /* border: 1px solid rgba(50, 50, 75, 1); */
}

.weather-card-day:hover {
  background-color: var(--surface0);
}

.weather-card-day .label {
  font-size: 12px;
}

.weather-card .hourly-container {
  min-height: 150px;
}

.weather-card .hourly-data {
  font-weight: bold;
}

.weather-card .hourly-data.temperature {
  background-color: var(--yellow); /* Temperature curve & line color */
}

.weather-card .hourly-data.rain {
  background-color: var(--blue); /* Rain curve & line color */
}

.weather-card .hourly-data.snow {
  background-color: #a0c4ff; /* Snow curve & line color */
}

/* Hourly forecast toggle buttons */
.weather-card .hourly-data-buttons {
  margin: 0px;
}
.weather-card .hourly-data-button {
  border-radius: 4px;
  min-height: 24px;
  min-width: 24px;
  max-width: 24px;
  max-height: 24px;
  font-size: 14px;
  color: var(--text);
  border: 1px solid transparent;
}
.weather-card .hourly-data-button.active {
  color: #fff;
  background-color: var(--surface0);
}

/* ==================== */
/* === MEDIA WIDGET === */
/* ==================== */

.media-widget {
  border-radius: 12px;
}

.media-widget .label {
  color: var(--mauve);
}

.media-menu {
  min-width: 400px;
  max-width: 400px;
  background-color: var(--crust);
  border: 1px solid var(--surface1);
  border-radius: 12px;
}
.media-menu .title,
.media-menu .artist,
.media-menu .source {
  font-size: 14px;
  font-weight: 600;
  /* margin-left: -10px; */
  font-family: "Segoe UI";
  margin-left: 10px;
}
.media-menu .title {
  margin-left: 10px;
}
.media-menu .artist {
  font-size: 13px;
  color: var(--subtext0);
  margin-top: 0px;
  margin-left: 10px;
}
.media-menu .source {
  font-size: 11px;
  color: var(--text);
  font-weight: 600;
  font-family: "Segoe UI";
  margin-top: 10px;
}

.media-menu .btn {
  font-family: "Segoe Fluent Icons";
  font-size: 14px;
  font-weight: 400;
  margin: 10px 2px 0px 2px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 20px;
}
.media-menu .btn.prev {
  margin-left: 10px;
}
.media-menu .btn:hover {
  color: white;
  background-color: var(--surface0);
}

.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
  color: var(--surface1);
  background-color: var(--crust);
}

.media-menu .playback-time {
  font-size: 13px;
  font-family: "Segoe UI";
  margin-top: 20px;
  min-width: 100px;
}
.media-menu .progress-slider {
  height: 10px;
  margin: 5px 4px;
  border-radius: 3px;
}
.media-menu .progress-slider::groove {
  background: transparent;
  height: 2px;
  border-radius: 3px;
  background: var(--surface0);
}
.media-menu .progress-slider::groove:hover {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: var(--surface1);
}
.media-menu .progress-slider::sub-page {
  background: var(--overlay1);
  border-radius: 3px;
  height: 4px;
}

.media-menu .app-volume-container {
  background-color: var(--surface0);
  padding: 8px 6px;
  border-radius: 16px;
  margin-left: 10px;
}
.media-menu .app-volume-container .volume-slider::groove {
  background: var(--surface1);
  width: 2px;
  border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::add-page {
  background: var(--overlay1);
  border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::groove:hover {
  background: var(--surface1);
  width: 6px;
  border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::sub-page {
  background: var(--surface1);
  border-radius: 3px;
}
.media-menu .app-volume-container .mute-button,
.media-menu .app-volume-container .unmute-button {
  font-size: 16px;
  color: var(--overlay2);
  font-family: "Segoe Fluent Icons";
  margin-top: 4px;
}
.media-menu .app-volume-container .unmute-button {
  color: var(--overlay0);
}
